# Build outputs
.next/
out/
build/
dist/

# Dependencies
node_modules/

# Terraform
*.tfvars
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Docker
Dockerfile
.dockerignore

# CI/CD
Jenkinsfile

# Logs
*.log

# Environment
.env
.env.*

# IDE
.vscode/
.idea/
